<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
    </head>
    <body>

        <!-- Fragmento que se utiliza en la página para regresar -->
        <section th:fragment="nuevoUsuario">
            <div class="row py-2 justify-content-center">
                <div class="col-md-3">
                    <!-- Botón para volver al login -->
                    <a th:href="@{/login}" class="btn btn-primary">
                        <i class="fas fa-arrow-left"></i> [[${accion.regresar}]]
                    </a>
                </div>
            </div>

            <div class="row py-2 justify-content-center">
                <div class="col-md-9">
                    <!-- Formulario para crear un nuevo usuario -->
                    <form method="POST" th:action="@{/registro/crearUsuario}" 
                          th:object="${usuario}" class="was-validated">

                        <div class="card">
                            <div class="card-header">
                                <!-- Título del formulario -->
                                <h4>[[${usuario.agregar}]]</h4>
                            </div>

                            <div class="card-body">
                                <div class="mb-3">
                                    <label for="username">[[${usuario.username}]]</label>
                                    <!-- Campo para el nombre de usuario -->
                                    <input type="text" class="form-control" name="username" 
                                           th:field="*{username}" required="true"/>
                                </div>

                                <div class="mb-3">
                                    <label for="nombre">[[${usuario.nombre}]]</label>
                                    <!-- Campo para el nombre -->
                                    <input type="text" class="form-control" name="nombre" 
                                           th:field="*{nombre}" required="true"/>
                                </div>

                                <div class="mb-3">
                                    <label for="apellidos">[[${usuario.apellidos}]]</label>
                                    <!-- Campo para los apellidos -->
                                    <input type="text" class="form-control" name="apellidos" 
                                           th:field="*{apellidos}" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="email">[[${usuario.correo}]]</label>
                                    <!-- Campo para el correo electrónico -->
                                    <input type="email" class="form-control" name="correo"
                                           th:field="*{correo}" required="true" />
                                </div>

                                <div class="card-footer text-end">
                                    <!-- Botón para enviar el formulario -->
                                    <button type="submit" class="btn btn-success">
                                        <i class="fas fa-envelope"></i> [[${usuario.activacion}]]
                                    </button>
                                </div>
                            </div>
                    </form>
                </div>
            </div>

            <!-- Fragmento que se utiliza para activar un usuario -->
            <section th:fragment="activarUsuario">
                <div class="row py-2 justify-content-center">
                    <div class="col-md-9">
                        <!-- Formulario para completar activación con imagen -->
                        <form method="POST" th:action="@{/registro/activar}" th:object="${usuario}"
                              class="was-validated" enctype="multipart/form-data">

                            <!-- Campo oculto con el ID del usuario -->
                            <input type="hidden" name="idUsuario" th:field="*{idUsuario}" />

                            <div class="card">
                                <div class="card-header align-items-center">
                                    <h4>[[${registro.activar}]]</h4>
                                </div>

                                <div class="card-body">
                                    <div class="mb-3">
                                        <label for="username">[[${usuario.username}]]</label>
                                        <!-- Campo usuario -->
                                        <input type="text" class="form-control" name="username"
                                               th:field="*{username}" required="true" />
                                    </div>

                                    <div class="mb-3">
                                        <label for="nombre">[[${usuario.nombre}]]</label>
                                        <!-- Campo nombre -->
                                        <input type="text" class="form-control" name="nombre"
                                               th:field="*{nombre}" required="true" />
                                    </div>

                                    <div class="mb-3">
                                        <label for="apellidos">[[${usuario.apellidos}]]</label>
                                        <!-- Campo apellidos -->
                                        <input type="text" class="form-control" name="apellidos"
                                               th:field="*{apellidos}" required="true" />
                                    </div>

                                    <div class="mb-3">
                                        <label for="email">[[${usuario.correo}]]</label>
                                        <!-- Campo correo -->
                                        <input type="email" class="form-control" name="correo"
                                               th:field="*{correo}" required="true" />
                                    </div>
                                    <div class="mb-3">
                                        <label for="telefono">[[${usuario.telefono}]]</label>
                                        <!-- Campo teléfono -->
                                        <input type="tel" class="form-control" name="telefono" 
                                               th:field="*{telefono}" />
                                    </div>

                                    <div class="mb-3">
                                        <label for="password">[[${usuario.password}]]</label>
                                        <!-- Campo para contraseña (no visible en recuperación o activación inicial) -->
                                        <input type="password" class="form-control" name="password" 
                                               th:field="*{password}" />
                                    </div>

                                    <div class="mb-3">
                                        <label for="imagen">[[${usuario.imagen}]]</label>
                                        <!-- Campo para cargar imagen -->
                                        <input class="form-control" type="file" name="imagenFile"
                                               onchange="readURL(this);" />
                                        <!-- Vista previa de imagen -->
                                        <img id="blah" th:src="@{${usuario.rutaImagen}}" alt="your image" height="200"/>
                                    </div>

                                    <div class="card-footer align-items-center">
                                        <!-- Botón para enviar activación -->
                                        <button type="submit" class="btn btn-success">
                                            <i class="fas fa-check"></i> [[${usuario.activacion}]]
                                        </button>
                                    </div>
                                </div> <!-- cierre del card-body y form -->
                            </div>
                    </div>
            </section>

            <!-- Fragmento que se utiliza para recordar un usuario -->
            <section th:fragment="recordarUsuario">
                <div class="row py-2 justify-content-center">
                    <div class="col-md-3">
                        <section>
                            <div class="col-md-4 d-grid">
                                <!-- Botón para regresar al login -->
                                <a th:href="@{/login}" class="btn btn-primary">
                                    <i class="fas fa-arrow-left"></i> [[${accion.regresar}]]
                                </a>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="row py-2 justify-content-center">
                    <div class="col-md-3">
                        <!-- Formulario para recordar usuario -->
                        <form method="POST"
                              th:action="@{/registro/recordarUsuario}"
                              th:object="${usuario}"
                              class="was-validated">

                            <div class="card">
                                <div class="card-header">
                                    <!-- Título del formulario -->
                                    <h3>[[${registro.recordar.us}]]</h3>
                                </div>

                                <div class="card-body">
                                    <div class="mb-3">
                                        <label for="username">[[${usuario.username}]]</label>
                                        <!-- Campo para ingresar nombre de usuario -->
                                        <input type="text" class="form-control"
                                               name="username" th:field="*{username}" />
                                    </div>

                                    <div class="mb-3">
                                        <label for="email">[[${usuario.correo}]]</label>
                                        <!-- Campo para ingresar correo electrónico -->
                                        <input type="email" class="form-control"
                                               name="correo" th:field="*{correo}" />
                                    </div>
                                </div>

                                <div class="card-footer text-end">
                                    <!-- Botón para enviar solicitud de recuperación -->
                                    <button type="submit" class="btn btn-success">
                                        <i class="fas fa-address-card"></i> [[${registro.recordar.us}]]
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </section>
    </body>
</html>



